.loader-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.j258 {
  background-color: lighten(#4e49e4, 30%);
}

.j257 {
  width: 100vw;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.j270 {
  height: 5px;
  width: auto;
  animation: indeterminate1 2.0s cubic-bezier(0.95, 0.515, 0.735, 0.895) infinite;
  animation-name: indeterminate1;
  animation-duration: 2.0s;
  animation-timing-function: cubic-bezier(0.95, 0.515, 0.735, 0.895);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  will-change: left, right;
}

.j268 {
  background-color: #4e49e4;
}

.j267 {
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
  transition: transform 0.2s linear;
  transform-origin: left;
}

.j273 {
  width: auto;
  animation: indeterminate2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  will-change: left, right;
  animation-delay: 1.15s;
}

.j268 {
  background-color: #4e49e4;
}

.j267 {
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
  transition: transform 0.2s linear;
  transform-origin: left;
}

@keyframes indeterminate1 {
  0% {
    left: -100%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}


