@import 'styles/_card.scss';
@import 'styles/_colors.scss';
@import 'styles/_transitions.scss';

.login-page {
  background: $pink;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-prompt-container {
    @extend .card;
    display: flex;
    justify-content: center;
    position: relative;
    width: 343px;
    height: 70px;

    .login-prompt {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: lighten(black, 40%);

      .lock-container {
        position: absolute;
        transition: $track-transition;
        transform: translateX(-95px);
      }

      .text-container {
        font-size: 20px;
        font-weight: 700;
        transition: $track-transition;
        transform: translateX(10px);
      }

      .heart-container {
        position: absolute;
        transition: $track-transition;
        transform: translateX(85px);
        opacity: 0;
      }
    }

    .loader-gif {
      position: absolute;
      top: -50px;
      height: 170px;
    }

    &:hover {
      box-shadow: -10px 20px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(145, 2, 2, 0.3);
      color: black;
      cursor: pointer;

      .text-container {
        transform: translateX(-10px);
      }
      .lock-container {
        transform: translateX(-85px);
        opacity: 0;
      }
      .heart-container {
        transform: translateX(95px);
        opacity: 1;
      }
    }

    &:active {
      background: #f6f6f6;
      width: 333px;
      height: 66px;
    }
  }
}
