@import 'styles/_transitions.scss';
@import 'styles/_colors.scss';

.lock-icon-container {
  .lock-icon,
  .unlocked-icon {
    transition: 0.15s $transition-style;
    cursor: pointer;
  }
  .lock-icon {
    fill: $light-purple;
  }
  .unlocked-icon {
    fill: lighten(#000, 70%);
    &:hover {
      fill: lighten(#000, 60%);
    }
  }
}
