@import 'styles/_colors.scss';

.playlist-header-container {
  padding: 100px 80px;
  background: $light-pink;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content-container {
    color: $grey;
    font-family: 'Playfair Display';
    .title {
      font-size: 80px;
      text-decoration: none;
      color: $grey;
      cursor: pointer;
      &:hover {
        color: $purple;
      }
    }
    .subtitle-container {
      display: flex;
      align-items: center;
      .description {
        font-size: 20px;
      }
    }
    .stats-container {
      margin-top: 30px;
      p {
        font-size: 12px;
        font-family: 'Roboto Mono';
      }
      .author {
        a {
          text-decoration: none;
          color: $grey;
          cursor: pointer;
          &:hover {
            color: $purple;
          }
        }
      }
    }
    .signature {
      font-size: 22px;
      font-style: italic;
      text-align: right;
      margin-top: 10px;
    }
  }

  .playlist-cover-container {
    .playlist-cover {
      max-width: 222px;
      border-radius: 100%;
    }
  }
}
