.playlist-header-container {
  padding: 100px 80px;
  color: #4d4d4d;
  background: #fdf7f7;
  font-family: 'Playfair Display';
  .title {
    font-size: 80px;
  }
  .description {
    font-size: 20px;
  }
  .stats-container {
    margin-top: 20px;
    .tracks,
    .followers {
      font-size: 12px;
      font-family: 'Roboto Mono';
    }
  }
  .signature {
    font-size: 22px;
    font-style: italic;
    text-align: right;
    margin-top: 10px;
  }
}
