@import 'styles/_colors.scss';

.main-container {
  .tracklist-container {
    min-height: 100vh; // Otherwise the sidebar is visible while the view is rendered downwards
    background: $pink;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
  }
}
