@import 'styles/_transitions.scss';
@import 'styles/_colors.scss';

.shuffle-icon-container {
  .shuffle-icon {
    transition: 0.15s $transition-style;
    width: 22px;
    height: 22px;
    cursor: pointer;
    stroke: lighten(#000, 70%);
    &:hover {
      stroke: lighten(#000, 60%);
    }
    &.active {
      stroke: $light-purple;
    }
  }
}
