.album-cover-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.track-paused,
  &.track-active {
    cursor: pointer;
    border-radius: 100%;
    transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 0px 0px 0px rgba(50, 50, 93, 0.35);
    transform: translateY(0px) scale(1.1);

    &:hover {
      box-shadow: 0 3px 12px 0px rgba(50, 50, 93, 0.35);
      transform: translateY(-3px) scale(1.1);
    }

    .album-cover {
      animation-name: spin;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: both;
      filter: brightness(90%);
      box-shadow: 0 0px 3px 1px rgba(50, 50, 93, 0.35);
      transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .hole {
      opacity: 1;
      box-shadow: inset 0 0px 3px 1px rgba(50, 50, 93, 0.35);
    }
  }

  &.track-paused {
    .album-cover {
      // IMPORTANT TODO: Handle animation transition mid-animation.
      // May have to ditch CSS altogether and use a JS solution:
      // https://stackoverflow.com/questions/27556778/css3-changing-animation-duration-speed-mid-animation
      // animation-duration: 10s;
      animation-duration: 6s;
      filter: brightness(70%);
    }
  }

  &.track-active {
    .album-cover {
      animation-duration: 6s;
    }
  }

  &.track-hover {
    .album-cover {
      animation: spin 10s linear infinite;
      // animation-delay: 1s;
      filter: brightness(70%);
      box-shadow: 0 0px 3px 1px rgba(50, 50, 93, 0.35);
    }

    .hole {
      width: 10px;
      height: 10px;
      opacity: 1;
      box-shadow: inset 0 0px 3px 1px rgba(50, 50, 93, 0.35);
    }
  }

  .album-cover {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .hole {
    position: absolute;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 100%;
    opacity: 0;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .spin {
    // animation-delay: spin 1s;
    animation: spin 5s linear infinite;
  }
}
