@import 'styles/_transitions.scss';

.shuffle-icon-container {
  position: absolute;
  bottom: 60px;
  .shuffle-icon {
    transition: 0.15s $transition-style;
    width: 22px;
    height: 22px;
    cursor: pointer;
    stroke: lighten(#000, 70%);
    &:hover {
      transform: scale(1.06);
      stroke: lighten(#000, 60%);
    }
    &.active {
      stroke: lighten(#4e49e4, 4%);
    }
  }
}
