@import '../../shared.scss';

.search-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .card-container {
    @extend .card;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .greeting-container {
      font-style: italic;
      font-size: 34px;
      line-height: 20px;
    }
  }
}
