.search-form {
  margin-top: 30px;
  .playlist-input {
    border: none;
    border-bottom: 1px solid #999999;
    outline: none;

    padding-bottom: 8px;
    width: 400px;

    font-size: 16px;
    font-family: 'Playfair Display';

    &::placeholder {
      transition: 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
      padding: 8px;
    }
    &:focus::placeholder {
      color: lighten(#999, 10%);
    }
  }

  .playlist-input-label {
    position: relative;
    display: block;
    margin-top: -2px;
    height: 3px;
    width: 0%;
    background-color: lighten(#4e49e4, 10%);
    transition: 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .playlist-input:focus + .playlist-input-label {
    width: 100%;
    transform: scale3d(1.4925, 1, 1);
  }
}
